{% extends '::base.html.twig' %}

{% block page_title %}{{ 'gateway.gateway.unrecoverable_error.title'|trans }}{% endblock %}

{% block content %}
    <p class="bg-danger">
        {{ 'gateway.error.unrecoverable_error'|trans }}
        {% if message is defined %}
            <br>
            {{ 'gateway.error.unrecoverable_error_message_intro'|trans }}
            <br>
            {{ message }}
        {% endif %}
    </p>
{% endblock content %}
