@charset "utf-8";

@import "vars";
@import "authentication";
@import "wayg";
@import "~bootstrap";


body {
  background-color: $gray-lighter;
  font-size: 15px;
  line-height: 20px;

  @media (max-width: $medium) {
    background-color: white;
  }

  h1 {
    font-size: 24px;
    line-height: 26px;
  }

  .container {
    max-width: 100rem;
    background: #fff;
    padding: 0 2rem;

    @media (min-width: $medium) {
      border-radius: 4px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
      margin-top: 2rem;
    }

    .content {
      @media (max-width: $small) {
        padding: 2rem 0;
      }
    }
  }

  .page-header {
    margin: 0 0 2rem 0;
    padding: 2rem 0 1rem 0;
  }

  footer {
    padding-bottom: 2rem;

    form {
      display: inline;

      button {
        padding: 0;
      }
    }
  }
}

div.page-header {
  img.logo {
    max-width: 180px;
    max-height: 90px;
  }
}

.btn-off-screen {
  position: absolute;
  left: 100%;
}

div.middle {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.icon-inverted {
  color: white;
}

.d-block {
  display: none;
}
