body.authentication {

  .container.authentication {
    background: #fff;
    max-width: 50rem;
    padding: 2rem 2rem 3rem;
  }
  .page-header {
    margin: 0;
    padding: 0 0 1rem 0;
  }

  .authentication-content {
    padding: 4rem;

    @media (max-width: $medium) {
      padding: 4rem 0;
    }
  }

  form[name="gateway_verify_yubikey_otp"] {
    max-width: 525px;
    padding: 2rem 0 4rem 0;
  }

  div.form-gateway-send-sms-challenge {
    margin: 1em auto;
    max-width: 525px;
    padding: 0.75em 1em;

    form {
      text-align: center;
    }
  }

  div.form-gateway-verify-sms-challenge div.row {
    margin: 2rem 0 3rem 0;
    align-items: center;
  }

  form[name="gateway_verify_sms_challenge"] {
    input[type="text"] {
      display: inline-block;
      font-family: "Monaco", "Inconsolata", "Consolas", monospace;
      margin: 1rem 1rem 1rem 0;
      max-width: 20rem;
      text-transform: uppercase;

      &::placeholder {
        text-transform: none;
      }
    }
    button {
      display: inline-block;
    }
    .btn-link {
      padding-left: 0;
      color: #0d6efd;

      &:hover {
        color: #0a58ca;
      }
    }
  }

  form[name="gateway_cancel_second_factor_verification"] {
    text-align: center;
  }

  .form-error {
    background: $pink-lighter;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: .5em;
  }
}
