.wayg.container {
  max-width: 50rem;
  padding-bottom: 3rem;
  form.choose-second-factor-type {
    max-width: 500px;

    div.row {
      margin: 2em 1em;
    }

    div.logo {
      img {
        max-height: 75px;
      }
      @media(max-width:767px){
        img {
          max-height: 40px;
        }
      }
    }

    div.title {
      font-size: 1.125rem;
      font-weight: 600;
    }
  }
}
