{% extends '::base.html.twig' %}

{% block page_title %}{{ 'gateway.gssp.error.unrecoverable_error.title'|trans }}{% endblock %}

{% block content %}
    <p class="bg-danger">
        {{ 'gateway.gssp.error.unrecoverable_error'|trans }}
    </p>
{% endblock content %}
