{% extends "::base.html.twig" %}

{% block application_name %}{{ 'gateway.second_factor.choose_second_factor.title'|trans }}{% endblock application_name %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'gateway.second_factor.choose_second_factor.description'|trans }}</p>

    {{ form(form) }}

{% endblock %}
