doctrine:
  dbal:
    default_connection: gateway
    connections:
      gateway:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_gateway_name%"
        user:     "%database_gateway_user%"
        password: "%database_gateway_password%"
        server_version: "%database_server_version%"
        charset:  UTF8
      deploy:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_gateway_name%"
        user:     "%database_deploy_user%"
        password: "%database_deploy_password%"
        server_version: "%database_server_version%"
        charset:  UTF8
  orm:
    default_entity_manager: gateway
    auto_generate_proxy_classes: "%kernel.debug%"
    controller_resolver:
      auto_mapping: false
    enable_lazy_ghost_objects: true
    entity_managers:
      gateway:
        report_fields_where_declared: true
        connection: gateway
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        mappings:
          SurfnetStepupGatewayGatewayBundle:
            mapping: true
            type: annotation
            is_bundle: true
      deploy:
        report_fields_where_declared: true
        connection: deploy
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        mappings: []

when@smoketest:
  doctrine:
    dbal:
      default_connection: gateway
      connections:
        gateway:
          dbname: gateway_test
          host: mariadb
          password: gw_deploy_secret
          user: gw_deploy_user

when@test:
  doctrine:
    dbal:
      default_connection: gateway
      connections:
        gateway:
          driver: "%database_driver%"
          port: "%database_port%"
          host: db.stepup.example.com
          dbname: gateway
