# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
  esi:             false
  secret:          "%secret%"
  form:            ~
  error_controller: Surfnet\StepupGateway\GatewayBundle\Controller\ExceptionController::show
  csrf_protection: ~
  trusted_hosts:   ~
  session:
    # handler_id set to null will use default session handler from php.ini
    handler_id:  ~
    name:        sess_gateway
    cookie_httponly: true
    cookie_secure: true
    cookie_domain: "%cookie_domain%"
  fragments:       false
  http_method_override: true
  handle_all_throwables: true
  property_info:
    with_constructor_extractor: true

when@dev:
  framework:
    router:
      strict_requirements: true
    profiler: { only_exceptions: false, collect_serializer_data: true }

when@smoketest: &testOverride
  imports:
    - { resource: ../services_test.yaml }
  framework:
    test: ~
    session:
      handler_id: null
      storage_factory_id: session.storage.factory.mock_file
      cookie_samesite: none
      cookie_secure: true
    profiler:
      only_exceptions: false
      collect: false
      collect_serializer_data: true
    php_errors:
      log: false

    validation:
      not_compromised_password: false

when@test: *testOverride
