/web/bundles/
/web/app_dev.php
/web/app_dev.php.dist
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/composer.phar
/cache.properties
/app/SymfonyRequirements.php
/app/check.php
