/public/bundles/
/public/build/
/public/js/
/public/css/
/app/files/*.crt
/app/files/*.key
/app/files/*.pem
/config/legacy/parameters.yaml
/config/legacy/samlstepupproviders_parameters.yaml
/config/legacy/global_view_parameters.yaml
/vendor/
/composer.phar
/cache.properties
.idea
/node_modules
web/build
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
.phpunit.result.cache
/.phpcs-cache
.phpunit
npm-debug.log
yarn-error.log
/public/u2f/app-id
