parameters:
    trusted_proxies:   ~

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_gateway_name:     gateway
    database_gateway_user:     gateway
    database_gateway_password: gateway
    database_u2f_name:         u2f
    database_u2f_user:         u2f
    database_u2f_password:     u2f
    database_deploy_user:      deploy
    database_deploy_password:  deploy

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    default_locale:    en_GB
    locales:           [nl_NL, en_GB]
    secret:            NotSoSecretReplaceMe!

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    messagebird_authorization: AccessKey your_api_key

    yubikey_client_id: 12345
    yubikey_client_secret: YubiSecret

    selfservice_api_password: ~
    registration_authority_api_password: ~

    graylog_hostname: graylog.host.tld

    sms_originator: SURFStepup
    sms_otp_expiry_interval: 900 # 15 minutes
    sms_maximum_otp_requests: 3

    saml_sp_publickey:
    saml_sp_privatekey:

    saml_idp_publickey:
    saml_idp_privatekey:

    saml_metadata_publickey:
    saml_metadata_privatekey:

    saml_remote_idp_entity_id:
    saml_remote_idp_sso_url:
    saml_remote_idp_certificate:

    gateway_loa_loa1: https://gateway.tld/authentication/loa1
    gateway_loa_loa2: https://gateway.tld/authentication/loa2
    gateway_loa_loa3: https://gateway.tld/authentication/loa3

    asset_version: 1
