parameters:
    # A list of service provider entity IDs that are allowed to send authn requests to the GSSPs
    gssp_allowed_sps: [https://sp.one.entityid, https://sp.two.entityid, used_for_checking_if_received_request_is_allowed]
    # tiqr should be enabled
    gssp_tiqr_enabled: true
    gssp_tiqr_sp_publickey: '/full/path/to/the/gateway-as-sp/public-key-file.cer'
    gssp_tiqr_sp_privatekey: '/full/path/to/the/gateway-as-sp/private-key-file.pem'
    gssp_tiqr_idp_publickey: '/full/path/to/the/gateway-as-idp/public-key-file.cer'
    gssp_tiqr_idp_privatekey: '/full/path/to/the/gateway-as-sp/private-key-file.pem'
    gssp_tiqr_metadata_publickey: '/full/path/to/the/gateway-metadata/public-key-file.cer'
    gssp_tiqr_metadata_privatekey: '/full/path/to/the/gateway-as-sp/private-key-file.pem'
    gssp_tiqr_remote_entity_id: 'https://actual-gssp.entity-id.tld'
    gssp_tiqr_remote_sso_url: 'https://actual-gssp.entity-id.tld/single-sign-on/url'
    gssp_tiqr_remote_certificate: 'The contents of the certificate published by the gssp'
