parameters:
    # A list of service provider entity IDs that are allowed to send authn requests to the GSSPs
    # the routes should be kept as is, they map to specific URLs on the gateway
    gssp_routes_sso: gssp_verify
    gssp_routes_consume_assertion: gssp_consume_assertion
    gssp_routes_metadata: gssp_saml_metadata

    # A list of service provider entity IDs that are allowed to send AuthnRequests to the GSSPs
    # Update domain name to match the domain name of the SS and RA.
    gssp_allowed_sps:
        - 'https://selfservice.tld/registration/gssf/tiqr/metadata'
        - 'https://ra.tld/vetting-procedure/gssf/tiqr/metadata'


    # Configuration of the "tiqr" GSSP
    # Authentication flow:
    # Real Tiqr GSSP IdP <--> Gateway GSSP Tiqr SP <--> Gateway GSSP Tiqr IdP Proxy <--> RA | SS
    # AuthnRequests from the RA and SS are proxied through the Tiqr GSSP proxy on the Gateway
    # The GSSP Tiqr SP and IdP are hosted on the gateway

    # Whether this GSSP endpoint is enabled (true) or not (false)
    gssp_tiqr_enabled: true

    # Tiqr SP Proxy for authenticating with the real (i.e. external) tiqr IdP
    gssp_tiqr_sp_publickey: '/full/path/to/the/gateway-as-sp/public-key-file.cer'
    gssp_tiqr_sp_privatekey: '/full/path/to/the/gateway-as-sp/private-key-file.pem'

    # Certificate and private key of Tiqr SAML IdP Proxy for use by RA and SS
    gssp_tiqr_idp_publickey: '/full/path/to/the/gateway-as-idp/public-key-file.cer'
    gssp_tiqr_idp_privatekey: '/full/path/to/the/gateway-as-sp/private-key-file.pem'

    # Metadata signing cert and key for tiqr SP/IdP proxy
    gssp_tiqr_metadata_publickey: '/full/path/to/the/gateway-metadata/public-key-file.cer'
    gssp_tiqr_metadata_privatekey: '/full/path/to/the/gateway-as-sp/private-key-file.pem'

    # Real (i.e. external) Tiqr GSSP IdP
    gssp_tiqr_remote_entity_id: 'https://tiqr.tld/saml/metadata'
    gssp_tiqr_remote_sso_url: 'https://tiqr.tld//saml/sso'
    gssp_tiqr_remote_certificate: 'The contents of the certificate published by the gssp, excluding PEM headers'

    # The logo used for tiqr, shown in the choose second factor screen (WAYG)
    gssp_tiqr_logo: '/full/path/to/tiqr_logo.png'

    # The title of the GSSP, translatable in the available languages of the application.
    gssp_tiqr_title:
        en_GB: Tiqr
        nl_NL: Tiqr

    # Configuration of the "biometric" GSSP
    # Authentication flow:
    # Real Biometric GSSP IdP <--> Gateway GSSP Biometric SP <--> Gateway GSSP Biometric IdP Proxy <--> RA | SS
    # AuthnRequests from the RA and SS are proxied through the Biometric GSSP proxy on the Gateway
    # The GSSP Biometric SP and IdP are hosted on the gateway

    # Whether this GSSP endpoint is enabled (true) or not (false)
    gssp_biometric_enabled: true

    # Biometric SP Proxy for authenticating with the real (i.e. external) biometric IdP
    gssp_biometric_sp_publickey: '/full/path/to/the/gateway-as-sp/public-key-file.cer'
    gssp_biometric_sp_privatekey: '/full/path/to/the/gateway-as-sp/private-key-file.pem'

    # Certificate and private key of the Biometric SAML IdP Proxy for use by RA and SS
    gssp_biometric_idp_publickey: '/full/path/to/the/gateway-as-idp/public-key-file.cer'
    gssp_biometric_idp_privatekey: '/full/path/to/the/gateway-as-sp/private-key-file.pem'

    # Metadata signing cert and key for Biometric SP/IdP proxy
    gssp_biometric_metadata_publickey: '/full/path/to/the/gateway-metadata/public-key-file.cer'
    gssp_biometric_metadata_privatekey: '/full/path/to/the/gateway-as-sp/private-key-file.pem'

    # Real (i.e. external) Biometric GSSP IdP
    gssp_biometric_remote_entity_id: 'https://actual-gssp.entity-id.tld'
    gssp_biometric_remote_sso_url: 'https://actual-gssp.entity-id.tld/single-sign-on/url'
    gssp_biometric_remote_certificate: 'The contents of the certificate published by the gssp, excluding PEM headers'

    # The logo used for biometric, shown in the choose second factor screen (WAYG)
    gssp_biometric_logo: '/full/path/to/bio_logo.png'
    gssp_biometric_title:
        en_GB: Biometric
        nl_NL: Biometrisch