<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ADFS Response debug page</title>
</head>
<body>

    <section class="saml-response">
        <p id="saml-response-xml">{{ samlResponse }}</p>
    </section>
    <section class="additional-parameters">
        <p id="Context">{{ context }}</p>
        <p id="AuthMethod">{{ authMethod }}</p>
    </section>

</body>
</html>
