includes:
    - ./phpstan-baseline.php

parameters:
    checkUninitializedProperties: true
    level: 1
    paths:
        - ../../src
    excludePaths:
        - ../../src/Surfnet/StepupGateway/ApiBundle/Tests
        - ../../src/Surfnet/StepupGateway/GatewayBundle/Tests
        - ../../src/Surfnet/StepupGateway/SamlStepupProviderBundle/Tests
        - ../../src/Surfnet/StepupGateway/SecondFactorOnlyBundle/Tests
        - ../../tests
