includes:
    - ./phpstan-baseline.php
    - ../../vendor/phpstan/phpstan-symfony/extension.neon
    - ../../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../../vendor/phpstan/phpstan-mockery/extension.neon
    - ../../vendor/phpstan/phpstan-deprecation-rules/rules.neon
rules:
    # Put here your custom or individual rules for this repository
parameters:
    checkUninitializedProperties: true
    level: 4
    paths:
        - ../../src
    excludePaths:
        - ../../src/Surfnet/StepupGateway/ApiBundle/Tests
        - ../../src/Surfnet/StepupGateway/GatewayBundle/Tests
        - ../../src/Surfnet/StepupGateway/SamlStepupProviderBundle/Tests
        - ../../src/Surfnet/StepupGateway/SecondFactorOnlyBundle/Tests
        - ../../tests
