name: test-integration
on: [pull_request, push]
jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 30
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Checkout devconf
              uses: actions/checkout@v5
              with:
                repository: OpenConext/OpenConext-devconf
                ref: main
                path: devconf
                sparse-checkout: stepup

            - name: Check devconf
              run: |
                  cd devconf && ls -al && ls -al stepup/

            - name: Init environment
              run: cd ci/docker && ./init.sh

            - name: Run CI tests
              run: |
                  cd ci/docker && docker compose exec -T gateway bash -c '
                      composer check-ci
                  '

            - name: Output logs on failure
              if: failure()
              run: |
                cd ci/docker
                docker compose logs
